<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.darkfighter.basicui">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_travelxp"
        android:screenOrientation="portrait"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Owner"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity android:name=".AddCar"
            android:screenOrientation="portrait"/>
        <activity android:name=".RemoveCar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DisplayListView"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity android:name=".Display_Car_Info"
            android:screenOrientation="portrait"/>
        <activity android:name=".Customer"
            android:screenOrientation="portrait"/>
        <activity android:name=".CustomerDisplay"
            android:screenOrientation="portrait"/>
        <activity android:name=".Contact"
            android:screenOrientation="portrait"/>
    </application>

</manifest>